
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('/static/images/salaire.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3{
color: white;
text-align: center;
font-weight: bold;
font-size: medium;

}