{% extends 'base.html' %}
{% block content %}
<i class="fas fa-home"></i>
    <div class="card-body" style="width: 18rem;  margin-left: auto; margin-right: auto;">
    <br><br><br>
        <h5 class=" is-size-4 has-text-centered has-text-weight-bold "> Bienvenue dans notre premier site realisé avec le framework de DJANGO par KARCHAOU et SIDK </h5>
        <br>
    <h4>Ce site est le fruit de ce que nous avons appris durant ce deuxieme semestre et dans cette période difficile dûe au coronavirus. Nous remercions Mr ACHBAROU Omar pour tous les efforts qui a deployé tout au long de cette période. </h4>
    </div>
    <br><br><br><br>
        <p style="color: #00e7eb; margin-left: auto; margin-right: auto ; text-decoration: underline ; float: bottom;">Copyright: KS & KK 2020</p>
{% endblock %}
