{% extends 'base.html' %}
{% block content %}
<i class="fas fa-home"></i>
        <h2 class=" is-size-4 has-text-centered has-text-weight-bold "> Bulletin de paie de {{ user.nom }} {{ user.prenom }}</h2>
    <table class="table is-bordered"style="margin-left: 40px">

       <tr> <th>nom:</th> <td>{{ user.nom }}</td><th>prenom:</th> <td>{{ user.prenom }}</td><th>email: </th><td>{{ user.email }}</td></tr>
        <tr></tr>
        <tr></tr>
        <tr><th>adresse:</th> <td>{{ user.adresse }}</td><th>telephone:</th> <td>{{ user.telephone }}</td><th>departement:</th> <td>{{ user.departement }}</td></tr>
        <tr><th>emploi:</th> <td>{{ user.emploiOccupe }}</td><th>date de naissance:</th> <td>{{ user.dateNaissance }}</td><th>anciennete:</th> <td>{{ user.Anciennete}} ans</td></tr>
    </table>
    <table class="table" style="margin:auto;">
        <tr class="is-selected" ><td></td><td></td><th>salaire de base: </th><td>{{ user.salaireBase}} DH</td><td></td><td></td></tr>
        <tr><td></td><td></td><th>prime:</th> <td>{{ user.prime}} DH</td><td></td><td></td></tr>
        <tr><td></td><td></td><th>prime d'anciennete: </th><td>{{primeAnciennete}} DH</td><td></td><td></td></tr>
     <tr><td></td><td></td><th>salaire Brut:</th> <td>{{salaireBrut}} DH</td><td></td><td></td></tr>
     <tr><td></td><td></td><th>cotisation cnss: </th><td>{{cnss}} DH</td><td></td><td></td></tr>
     <tr><td></td><td></td><th>cotisation cimr:</th> <td>{{cimr}} DH</td><td></td><td></td></tr>
     <tr><td></td><td></td><th>prelevement impot: </th><td>{{impot}} DH</td><td></td><td></td></tr>
     <tr class="is-selected"><td></td><td></td><th>salaire net:</th> <td>{{salaireNet}} DH</td><td></td><td></td></tr>
    </table>
{% endblock %}