{% extends 'base.html' %}
{% block content %}
<i class="fas fa-home"></i>
        <h1 class=" is-size-1 has-text-centered has-text-weight-bold ">Liste des Salaries</h1>
<table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">E-mail</th>
        <th scope="col">telephone</th>
        <th scope="col">Emploi occupe</th>
        <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        {% for u in salaries %}
            <tr>
            <th scope="row">{{ u.id }}</th>
            <td>{{ u.nom }}</td>
            <td>{{ u.prenom }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.telephone }}</td>
            <td>{{ u.emploiOccupe}}</td>
                <td><a  href="{% url 'gestion:getsal' u.id %}" class="has-background-info" style="color: white">Lire    </a><a href="{% url 'gestion:updateSal' u.id %}" class="has-background-success" style="color: white">Modifier   </a><a href="{% url 'gestion:deleteSal' u.id %}" class="has-background-danger" style="color: white">supprimer</a> </td>
            </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}